    ul {
        margin-left: 0;
        padding-left: 0;
        display: flex;
    }
    li {
        list-style-type: none;
        font-size: 19px;
    }
    .rebuk {
        text-decoration: none;
        color: black;
    }
    .rebuk:hover {
        color:dimgrey;
    }
    img {
        
        width: auto;
        height: 160px;
    }
    .books {
        width: 187.50px;
        height: 300px;
    }
    .block {
        margin: auto;
        width: 150px;
        height: 200px;  
    }
    .bookText {
        margin-top: 5px;
        text-align: center;
    }
