<br>
<link href="/style/all-book-admin.css" rel="stylesheet">
<a href="/users/get">Users</a>

<h1 class="bookText">Все книги</h1>
<ul>
    {{#each books}}
    <li> 
            <div class="books">
                <div class="block"><img src="{{photo}}" alt=""><br><a class="rebuk" href="/all/book/{{_id}}">{{bookName}}</a></div>
            </div>
    </li>
    {{/each}}
</ul>